# ----- ----- ----- ----- ----- -----
# CLion
# ----- ----- ----- ----- ----- -----
/.idea

# ----- ----- ----- ----- ----- -----
# cmake
# ----- ----- ----- ----- ----- -----
/cmake*

# ----- ----- ----- ----- ----- -----
# builds
# ----- ----- ----- ----- ----- -----
/build*

# ----- ----- ----- ----- ----- -----
# all log Files
# ----- ----- ----- ----- ----- -----
*.log

# ----- ----- ----- ----- ----- -----
# QtCreator User files
# ----- ----- ----- ----- ----- -----
*pro.user*
